[submodule "themes/yihui-xmin"]
	path = themes/yihui-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
